{% load static %}
{% load char_tag %}
{% load college_tags %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta content="width=device-width, initial-scale=1.0" name="viewport">

        <title>Change Password</title>
        <meta content="" name="description">
        <meta content="" name="keywords">

        <!-- Favicons -->

        <link href="{% static 'img/ibps-logo.png' %}" rel="icon">

        <!-- Google Fonts -->
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

        <!-- Vendor CSS Files -->
        <link href="{% static 'vendor/aos/aos.css' %}" rel="stylesheet">
        <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
        <link href="{% static 'vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
        <link href="{% static 'vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
        <link href="{% static 'vendor/remixicon/remixicon.css' %}" rel="stylesheet">
        <link href="{% static 'vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">

        <!-- Form icons -->
        <script src="https://kit.fontawesome.com/64d58efce2.js" crossorigin="anonymous"></script>

        <!-- Template Main CSS File -->
        <link href="{% static 'css/style.css' %}" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'css/sign-in.css' %}" />

    </head>

    <body>

        <!-- ======= Header ======= -->
        <header id="header" class="header fixed-top">
            <div class="container-fluid container-xl d-flex align-items-center justify-content-between">
                
                {% if request.user.is_superuser %}
                    <a href="{% url 'landingpage:admin-dashboard' %}" class="logo d-flex align-items-center">
                {% elif not request.user.is_superuser and not request.user.email|contain_number %}
                    <a href="{% url 'landingpage:counselor-dashboard' %}" class="logo d-flex align-items-center">
                {% else %}
                    <a href="{% url 'landingpage:student-dashboard' %}" class="logo d-flex align-items-center">
                {% endif %}
                <img src="{% static 'img/psu/psu.png' %}" alt="">
                <img src="{% static 'img/psu/cs.png' %}" alt="">
                <img src="{% static 'img/psu/osas.png' %}" alt="">
                <span>IBPS-PSU</span>
                </a>

                <nav id="navbar" class="navbar">
                    {% if request.user.is_superuser %}
                        <ul>
                            <li><a class="nav-link scrollto {% if request.path == '/dashboard'%}active{% endif %}" href="{% url 'landingpage:admin-dashboard' %}">Dashboard</a></li>
                            <li class="dropdown"><a href="#"><span class="{% if '/list/college/' in request.path %}active{% endif %}">Colleges</span> <i class="bi bi-chevron-down"></i></a>
                                <ul>
                                    {% get_all_college as colleges %}
                                    {% for college in colleges %}
                                        <div class="college-dropdown-container">
                                            <a class="collapse-item {% if college.code == current_code %}active{% endif %}" href="{% url 'landingpage:college-list' code=college.code %}">{{ college.code }}</a>
                                            <input type="checkbox" id="college_{{ college.id }}" {% if college.is_assessment_enabled %}checked{% endif %} class="checkbox-right">
                                        </div>
                                    {% endfor %}
                                </ul>
                            
                            </li>
                            <li><a class="{% if request.path == '/list/student/' or request.path == '/list/students/all/' or request.path == '/list/student/takers/' %}active{% endif %}" href="{% url 'landingpage:all-student-list' %}">Student</a></li>
                            <li class="dropdown"><a href="#"><span class="{% if '/password/change' in request.path %}active{% endif %}">Account</span> <i class="bi bi-chevron-down"></i></a>
                            <ul>
                                <li><a class="{% if request.path == '/password/change'%}active{% endif %}" href="{% url 'landingpage:change-password' %}">Change Password</a></li>
                                <li><a href="{% url 'landingpage:logout' %}">Logout</a></li>
                            </ul>
                            </li>
                        </ul>
                    {% elif not request.user.is_superuser and not request.user.email|contain_number %}
                        <ul>
                            <li><a class="nav-link scrollto {% if request.path == '/counselor/dashboard/'%}active{% endif %}" href="{% url 'landingpage:counselor-dashboard' %}">Dashboard</a></li>
                            <li><a class="{% if request.path == '/counselor/list/student/'%}{% elif '/profile/student/' in request.path %}active{% endif %}" href="{% url 'landingpage:counselor-student-list' %}">Student</a></li>
                            <li class="dropdown"><a href="#"><span class="{% if '/password/change/' in request.path %}active{% endif %}">Account</span> <i class="bi bi-chevron-down"></i></a>
                            <ul>
                                <li><a class="{% if request.path == '/password/change/'%}active{% endif %}" href="{% url 'landingpage:change-password' %}">Change Password</a></li>
                                <li><a href="{% url 'landingpage:logout' %}">Logout</a></li>
                            </ul>
                            </li>
                        </ul>
                    {% else %}
                    <ul>
                        <li><a class="{% if request.path == '/student/dashboard' %}active{% endif %}" href="{% url 'landingpage:student-dashboard' %}">Dashboard</a></li>
                        <li><a class="{% if '/survey/' in request.path %}active{% endif %}" href="{% url 'landingpage:student-assessment1' %}">Assessment</a></li>
                        <li class="dropdown"><a href="#"><span class="{% if '/password/change/' in request.path %}active{% endif %}">Account</span> <i class="bi bi-chevron-down"></i></a>
                            <ul>
                                <li><a href="{% url 'landingpage:edit-profile' %}">Profile</a></li>
                                <li><a class="{% if '/password/change' in request.path %}active{% endif %}" href="{% url 'landingpage:change-password' %}">Change Password</a></li>
                                <li><a href="{% url 'landingpage:logout' %}">Logout</a></li>
                                <!-- <li><a class="{% if '/password/change/' in request.path %}active{% endif %}" href="{% url 'landingpage:edit-profile' %}">Profile</a></li>
                                <li><a href="{% url 'landingpage:logout' %}">Logout</a></li> -->
                            </ul>
                        </li>
                    </ul>
                    {% endif %}
                    <i class="bi bi-list mobile-nav-toggle"></i>

                </nav>
            </div>
        </header>

        <section class="changepass">
            <div class="box">

                <form role="form" method="POST" action="{% url 'landingpage:change-password' %}">
                    {% csrf_token %}
                    <!-- <h2 class="title">Create new password</h2> -->
                    <div class="input-forget shadow-inner password-toggle">
                        <i class="fas fa-key"></i>
                        {{ form.old_password }}
                        <i class="fas fa-eye-slash toggle-eye" id="toggle-old-password"></i>
                    </div>
                    <span class="text-error">{{ form.old_password.errors }}</span>
                    <div class="input-forget shadow-inner password-toggle">
                        <i class="fas fa-unlock"></i>
                        {{ form.new_password1 }}
                        <i class="fas fa-eye-slash toggle-eye" id="toggle-new-password"></i>
                    </div>
                    <span class="text-error">{{ form.new_password1.errors }}</span>
                    <div class="input-forget shadow-inner password-toggle">
                        <i class="fas fa-lock"></i>
                        {{ form.new_password2 }}
                        <i class="fas fa-eye-slash toggle-eye" id="toggle-confirm-password"></i>
                    </div>
                    <span class="text-error">{{ form.new_password2.errors }}</span>
                    <div class="button-box">
                        <button type="submit" class="button trigger" type="button">
                            Change Password
                        </button>
                        <!-- <a class="button trigger" href="change-password.html">Change Password</a> -->
                    </div>
                </form>
                {% if request.user.is_superuser %}
                    <a href="{% url 'landingpage:admin-dashboard' %}">Go Back</a>
                {% elif not request.user.is_superuser and not request.user.email|contain_number %}
                    <a href="{% url 'landingpage:counselor-dashboard' %}">Go Back</a>
                {% else %}
                    <a href="{% url 'landingpage:edit-profile' %}">Go Back</a>
                {% endif %}
            </div>
        </section>

        <!-- ======= Footer ======= -->
        <footer id="footer" class="footer">
            <div class="container">
                <div class="copyright">
                    &copy; Copyright <strong><span>IBPS-PSU</span></strong>. All Rights Reserved
                </div>
            </div>
        </footer><!-- End Footer -->
  
        <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
    
        <!-- Vendor JS Files -->
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="{% static 'vendor/purecounter/purecounter_vanilla.js' %}"></script>
        <script src="{% static 'vendor/aos/aos.js' %}"></script>
        <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
        <script src="{% static 'vendor/glightbox/js/glightbox.min.js' %}"></script>
        <script src="{% static 'vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
        <script src="{% static 'vendor/swiper/swiper-bundle.min.js' %}"></script>
        <script src="{% static 'vendor/php-email-form/validate.js' %}"></script>

        <!-- Template Main JS File -->
        <script src="{% static 'js/main.js' %}"></script>
        <!-- <script src="{% static 'js/sign-in.js' %}"></script> -->


        <script>
            const togglePassword = (passwordField, toggleButton) => {
                const field = document.getElementById(passwordField);
                const toggle = document.getElementById(toggleButton);

                toggle.addEventListener("click", () => {
                    if (field.type === "password") {
                        field.type = "text";
                        toggle.classList.remove("fa-eye-slash");
                        toggle.classList.add("fa-eye");
                    } else {
                        field.type = "password";
                        toggle.classList.remove("fa-eye");
                        toggle.classList.add("fa-eye-slash");
                    }
                });
            };

            togglePassword("old-password", "toggle-old-password");
            togglePassword("new-password", "toggle-new-password");
            togglePassword("confirm-password", "toggle-confirm-password");
        </script>

        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script>
        $(document).ready(function() {
            $('input[type="checkbox"]').change(function() {
                var collegeId = $(this).attr('id').split('_')[1]; 
                var isChecked = $(this).prop('checked');
                var csrftoken = getCookie('csrftoken'); 

                $.ajax({
                    type: 'POST',
                    url: '/assessment/update/',
                    headers: {
                        'X-CSRFToken': csrftoken  
                    },
                    data: {
                        'college_id': collegeId,
                        'is_enabled': isChecked
                    },
                    success: function(response) {
                        console.log(response);
                    },
                    error: function(error) {
                        console.log(error);
                    }
                });
            });

            // Function to get CSRF token from cookie
            function getCookie(name) {
                var cookieValue = null;
                if (document.cookie && document.cookie !== '') {
                    var cookies = document.cookie.split(';');
                    for (var i = 0; i < cookies.length; i++) {
                        var cookie = cookies[i].trim();
                        if (cookie.substring(0, name.length + 1) === (name + '=')) {
                            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                            break;
                        }
                    }
                }
                return cookieValue;
            }
        });
        </script>

        
    </body>


</html>





