{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta content="width=device-width, initial-scale=1.0" name="viewport">

        <title>Edit Profile</title>
        <meta content="" name="description">
        <meta content="" name="keywords">

        <!-- Favicons -->
        <link href="{% static 'img/ibps-logo.png' %}" rel="icon">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

        <!-- Google Fonts -->
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

        <!-- Vendor CSS Files -->
        <link href="{% static 'vendor/aos/aos.css' %}" rel="stylesheet">
        <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
        <link href="{% static 'vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
        <link href="{% static 'vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
        <link href="{% static 'vendor/remixicon/remixicon.css' %}" rel="stylesheet">
        <link href="{% static 'vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">

        <!-- Template Main CSS File -->
        <link href="{% static 'css/edit-profile.css' %}" rel="stylesheet">
        <link href="{% static 'css/pop-up.css' %}" rel="stylesheet">
    </head>
    
    <body>
        <!-- ======= Header ======= -->
        <header id="header" class="header fixed-top">
            <div class="container-fluid container-xl d-flex align-items-center justify-content-between">
      
              <a href="{% url 'landingpage:student-dashboard' %}" class="logo d-flex align-items-center">
                <img src="{% static 'img/psu/psu.png' %}" alt="">
                <img src="{% static 'img/psu/cs.png' %}" alt="">
                <img src="{% static 'img/psu/osas.png' %}" alt="">
                <span>IBPS-PSU</span>
              </a>
      
              <nav id="navbar" class="navbar">
                <ul>
                  <li><a class="{% if request.path == '/student/dashboard' %}active{% endif %}" href="{% url 'landingpage:student-dashboard' %}">Dashboard</a></li>
                  <li><a class="{% if '/survey/' in request.path %}active{% endif %}" href="{% url 'landingpage:student-assessment1' %}">Assessment</a></li>
                  <li class="dropdown"><a href="#"><span class="active">Account</span> <i class="bi bi-chevron-down"></i></a>
                    <ul>
                      <li><a class="active" href="{% url 'landingpage:edit-profile' %}">Profile</a></li>
                      <li><a href="{% url 'landingpage:change-password' %}">Change Password</a></li>
                      <li><a href="{% url 'landingpage:logout' %}">Logout</a></li>
                    </ul>
                  </li>
                </ul>
                <i class="bi bi-list mobile-nav-toggle"></i>
      
              </nav><!-- .navbar -->
      
            </div>
        </header><!-- End Header -->
        
        <main id="main">
            <!-- The pop-up container -->
            <div id="popup" class="popup">
                <div class="popup-content">
                
                <p>It is recommended to update your password. Click the button below to get started:</p>
                <a href="{% url 'landingpage:change-password' %}" class="update-profile-btn">Change Password</a>
                </div>
            </div>

            <section class="student-profile">

                <div class="container" data-aos="fade-up">

        
                    <div class="row gy-4">
            
                        <div class="col-lg-12" data-aos="fade-up" data-aos-delay="300">
                            {% if messages %}
                            <div class="message-container">
                                {% for message in messages %}
                                    {% if message.tags and message.tags == 'error' %}
                                        <div class="alert alert-danger" role="alert">
                                            <strong>Error:</strong> {{ message }} 
                                        </div>
                                    {% elif message.tags and message.tags == 'info' %}
                                        <div class="alert alert-danger" role="alert">
                                            {{ message }} 
                                        </div>
                                    {% else %}
                                        <div class="alert alert-success" role="alert">
                                        {{ message }}
                                        </div>
                                    {% endif %}
                                {% endfor %}

                            </div>

                            {% endif %}

                            <div class="profile-box">
                                <form role="form" method="POST" action="{% url 'landingpage:edit-profile' %}">
                                    {% csrf_token %}

                                    <div class="row gx-3 mb-3">
                                        <div class="col-md-4">
                                            <!-- <label class="small mb-1" for="inputOrgName">Age</label> -->
                                            <div class="input-in shadow-inner">
                                                <i class="fas fa-envelope"></i>
                                                <input type="email" readonly value="{{ student.email }}" placeholder="Email">
                                            </div>
                                            <!-- <small class="form-text text-muted">Contact the administrator to change Email</small> -->
                                        </div>
                        
                                        <div class="col-md-4">
                                            <!-- <label class="small mb-1" for="inputLocation">Gender</label> -->
                                            <div class="input-in shadow-inner">
                                                <i class="fas fa-id-card"></i>
                                                <input type="text" readonly value="{{ student.student_id }}" placeholder="Student ID" />
                                            </div>
                                            <!-- <small class="form-text text-muted">Contact the administrator to change Student ID</small> -->
                                            
                                        </div>

                                        <div class="col-md-4">
                                            <!-- <label class="small mb-1" for="inputLocation">Gender</label> -->
                                            <div class="input-in shadow-inner">
                                                <i class="fa fa-phone"></i>
                                                <input type="text" readonly value="{{ student.contact_number }}" placeholder="Contact Number" />
                                            </div>
                                            <!-- <small class="form-text text-muted">Contact the administrator to change Contact Number</small> -->
                                            
                                        </div>
                                    </div>


                                    <div class="row gx-3 mb-3">
                                        <div class="col-md-4">
                                            <!-- <label class="small mb-1" for="inputLastName">Last name</label> -->
                                            <div class="input-in shadow-inner">
                                                <i class="fa fa-pen"></i>
                                                <input type="text" readonly value="{{ student.first_name }}" placeholder="First Name" />
                                                <!-- {{ form.first_name }} -->
                                            </div>
                                            <!-- <span class="error-message">{{ form.first_name.errors }}</span>
                                            {% if not student.is_profile_updated %}
                                            <small class="text-danger">This field is required</small>
                                            {% endif %} -->
                                        </div>
            
                                        <div class="col-md-4">
                                            <!-- <label class="small mb-1" for="inputLastName">Last name</label> -->
                                            <div class="input-in shadow-inner">
                                                <i class="fa fa-pen"></i>
                                                <input type="text" readonly value="{{ student.middle_name }}" placeholder="Middle Name" />
                                                <!-- {{ form.middle_name }} -->
                                            </div>
                                            <!-- <span class="error-message">{{ form.middle_name.errors }}</span> -->
                                        </div>

                                        <div class="col-md-4">
                                            <!-- <label class="small mb-1" for="inputMiddleName">Middle name</label> -->
                                            <div class="input-in shadow-inner">
                                                <i class="fa fa-pen"></i>
                                                <input type="text" readonly value="{{ student.last_name }}" placeholder="Last Name" />
                                                <!-- {{ form.last_name }} -->
                                            </div>
                                            <!-- <span class="error-message">{{ form.last_name.errors }}</span>
                                            {% if not student.is_profile_updated %}
                                            <small class="text-danger">This field is required</small>
                                            {% endif %} -->
                                        </div>
                                    </div>
                        
                                    <div class="row gx-3 mb-3">
                                        <div class="col-md-6">
                                            <div class="input-in shadow-inner">
                                                <i class="fa fa-birthday-cake"></i>
                                                <input type="text" readonly value="{{ student.age }}" placeholder="Age" />
                                                <!-- {{ form.age }} -->
                                            </div>
                                            <!-- <span class="error-message">{{ form.age.errors }}</span>
                                            {% if not student.is_profile_updated %}
                                            <small class="text-danger">This field is required</small>
                                            {% endif %} -->
                                        </div>

                                        <div class="col-md-6">
                                            <div class="input-in shadow-inner">
                                                <i class="fa fa-venus-mars"></i>
                                                <input type="text" readonly value="{{ student.gender }}" placeholder="Gender" />
                                                <!-- {{ form.gender }} -->
                                            </div>
                                            <!-- <span class="error-message">{{ form.gender.errors }}</span>
                                            {% if not student.is_profile_updated %}
                                            <small class="text-danger">This field is required</small>
                                            {% endif %} -->
                                        </div>
                


                                    </div>
                        
                                    <div class="mb-12">
                                        <!-- <label class="small mb-1" for="inputCivilStatus">Civil Status</label> -->
                                        <div class="input-in shadow-inner">
                                            <i class="fas fa-user-friends"></i>
                                            <input type="text" readonly value="{{ student.civil_status }}" placeholder="Civil Status" />
                                            <!-- {{ form.civil_status }} -->
                                        </div>
                                        <!-- <span class="error-message">{{ form.civil_status.errors }}</span>
                                        {% if not student.is_profile_updated %}
                                        <small class="text-danger">This field is required</small>
                                        {% endif %} -->
                                    </div>
                        
                                    <div class="row gx-3 mb-3">
                                        <div class="col-md-6">
                                            <div class="input-in shadow-inner">
                                                <i class="fa fa-graduation-cap"></i>
                                                <div>{{ student.program.college.college_name }}</div>  
                                            </div>
                                        </div>
                
                                        <div class="col-md-6">
                                            <div class="input-in shadow-inner">
                                                <i class="fa fa-book-open"></i>
                                                <input type="text" readonly value="{{ student.program }}" placeholder="Program" />
                                                <!-- {{ form.program }} -->
                                            </div>
                                            <!-- <span class="error-message">{{ form.program.errors }}</span> -->
                                        </div>

                                    </div>


                                                    
                                    <div class="button-box">
                                        <small class="form-text text-muted">Contact the administrator to update information.</small>
                                        <!-- <button type="submit" class="button trigger" type="button">
                                            Update
                                        </button>
                                        <a class="button trigger" href="change-password.html">Change Password</a>  -->
                                    </div>
                                </form>
                            </div>
                        </div>
            
                    </div>
                </div>
        
            </section><!-- End Services Section -->
            

        </main><!-- End #main -->
        
        <!-- ======= Footer ======= -->
        <footer id="footer" class="footer">
            <div class="container">
                <div class="copyright">
                    &copy; Copyright <strong><span>IBPS-PSU</span></strong>. All Rights Reserved
                </div>
            </div>
        </footer><!-- End Footer -->
        
        <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
        
        <!-- Vendor JS Files -->
        <script src="{% static 'vendor/purecounter/purecounter_vanilla.js' %}"></script>
        <script src="{% static 'vendor/aos/aos.js' %}"></script>
        <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
        <script src="{% static 'vendor/glightbox/js/glightbox.min.js' %}"></script>
        <script src="{% static 'vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
        <script src="{% static 'vendor/swiper/swiper-bundle.min.js' %}"></script>
        <script src="{% static 'vendor/php-email-form/validate.js' %}"></script>

        <!-- Template Main JS File -->
        <script src="{% static 'js/main.js' %}"></script>
        <script>
            // JavaScript to show the pop-up when the student first register
            window.addEventListener('load', function() {
              var popup = document.getElementById('popup');
              var closePopup = document.getElementById('close-popup');
        
              var passwordUpdated = {% if student.is_password_updated %}true{% else %}false{% endif %};
        
              if (!passwordUpdated) {
                popup.style.display = 'block';
              }
            });
        </script>
        
    </body>

</html>