{% load static %}
<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>IBPS-PSU - Terms of Service</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->

    <link href="{% static 'img/ibps-logo.png' %}" rel="icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="{% static 'vendor/aos/aos.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/remixicon/remixicon.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="{% static 'css/style.css' %}" rel="stylesheet">

  </head>

  <body>

    <!-- ======= Header ======= -->
    <header id="header" class="header fixed-top">
      <div class="container-fluid container-xl d-flex align-items-center justify-content-between">

        <a href="{% url 'landingpage:home' %}" class="logo d-flex align-items-center">
          <img src="{% static 'img/psu/psu.png' %}" alt="">
          <img src="{% static 'img/psu/cs.png' %}" alt="">
          <img src="{% static 'img/psu/osas.png' %}" alt="">
          <span>IBPS-PSU</span>
        </a>

        <nav id="navbar" class="navbar">
          <ul>
            <li><a class="nav-link scrollto" href="{% url 'landingpage:home' %}#hero">Home</a></li>
            <li><a class="nav-link scrollto" href="{% url 'landingpage:home' %}#about">About</a></li>
            <li><a class="nav-link scrollto" href="{% url 'landingpage:home' %}#services">Burnout Profiles</a></li>
            <li><a class="nav-link scrollto" href="{% url 'landingpage:home' %}#team">Team</a></li>
            <!-- <li><a href="tos.html">Terms of Services</a></li>
            <li><a href="privacy_policy.html">Privacy Policy</a></li> -->
            <li><a class="nav-link scrollto" href="{% url 'landingpage:home' %}#contact">Contact</a></li>
            <li><a class="getstarted scrollto" href="{% url 'landingpage:login' %}">Sign In</a></li>
          </ul>
          <i class="bi bi-list mobile-nav-toggle"></i>

        </nav><!-- .navbar -->

      </div>
    </header><!-- End Header -->

    <main id="main">
      <!-- ======= About Section ======= -->
      <section id="tos" class="tos">

        <div class="container" data-aos="fade-up">
          <div class="row gx-0">
            <div class="col-lg-12 d-flex flex-column justify-content-center" data-aos="fade-up" data-aos-delay="200">
              <div class="content">
                <h2>IBPS Terms of Services</h2>
                <p class="date">Last updated on September 23, 2023</p>
              </div>
              <div>
                <br>
                <p>
                  Welcome to IBPS <i>(Identification of Burnout Presence to the Students of Palawan State University with Automated Responses as Reinforcement through Natural Language Processing)</i> web platform! These Terms of Service govern your use of our web platform and services. Please read these Terms carefully before using our platform.
                  <br><br>
                  By accessing or using IBPS-PSU-NLP, you agree to comply with and be bound by these Terms. If you do not agree to these Terms, please do not use our platform.
                </p>
              </div>
              <div>
                <br><br>
                <h4>Description of Service</h4>
                <p class="multiline-text">
                  IBPS-PSU-NLP is an online platform designed to gather survey data from students of Palawan State University (PSU). The purpose of this survey is to assess how you view your studies and your reactions to academic work. Users are required to log in to save their survey data. It is important to note that the survey data collected is confidential, as it is a behavioral survey. Only authorized administrators can access the answers provided by PSU students.
                </p>
              </div>
              <div>
                <br><br>
                <h4>User Registration</h4>
                <p>
                  To access and use certain features of IBPS-PSU-NLP, you may be required to register for an account. You agree to provide accurate, current, and complete information during the registration process and to update such information to keep it accurate, current, and complete.
                </p>
              </div>
              <div>
                <br><br>
                <h4>Privacy</h4>
                <p>
                  You shall not engage in the following prohibited activities:
                </p>
                <ul>
                  <li>Use our platform for any illegal or unauthorized purpose.</li>
                  <li>Impersonate any person or entity or falsely state or otherwise misrepresent your affiliation with a person or entity.</li>
                  <li>Interfere with or disrupt the operation of the platform or the servers or networks used to make the platform available.</li>
                  <li>Post or transmit any content that is libelous, defamatory, obscene, or offensive.</li>
                  <li>Attempt to gain unauthorized access to our platform, user accounts, or computer systems.</li>
                </ul>
              </div>
              <div>
                <br><br>
                <h4>Termination</h4>
                <p>
                  We may terminate or suspend your account and access to IBPS-PSU-NLP immediately, without prior notice or liability, for any reason whatsoever, including without limitation if you breach these Terms.
                </p>
              </div>
              <div>
                <br><br>
                <h4>Modifications</h4>
                <p>
                  We reserve the right to modify or replace these Terms at any time. If a revision is material, we will provide at least 30 days' notice prior to any new terms taking effect. What constitutes a material change will be determined at our sole discretion.
                </p>
              </div>
              <div>
                <br><br>
                <h4>Limitation of Liability</h4>
                <p>
                  In no event shall IBPS-PSU-NLP or its administrators be liable for any indirect, special, incidental, consequential, or punitive damages, including but not limited to, loss of data, use, or other intangible losses, arising out of or in connection with your use or inability to use the platform.
                </p>
              </div>
              <div>
                <br><br>
                <p>
                  For any questions about these <a href="{% url 'landingpage:tos' %}"><b>Terms</b></a>, please contact us at <b><a href="mailto:ibpspsu2023@gmail.com">ibpspsu2023@gmail.com</a></b>.
                  <br><br>
                  By using IBPS-PSU-NLP, you agree to these Terms of Service. Please review these Terms periodically, as they may be updated from time to time. Your continued use of our platform after any changes to these Terms will constitute your acceptance of such changes.
                  <br><br>
                  Thank you for using IBPS-PSU-NLP!
                </p>
              </div>
            </div>

          </div>
        </div>

      </section><!-- End About Section -->
    
    </main><!-- End #main -->

    <!-- ======= Footer ======= -->
    <footer id="footer" class="footer">

      <div class="container">
        <div class="copyright">
          &copy; Copyright <strong><span>IBPS</span></strong>. All Rights Reserved
        </div>
      </div>
    </footer><!-- End Footer -->

    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

    <!-- Vendor JS Files -->
    <script src="{% static 'vendor/purecounter/purecounter_vanilla.js' %}"></script>
    <script src="{% static 'vendor/aos/aos.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'vendor/glightbox/js/glightbox.min.js' %}"></script>
    <script src="{% static 'vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
    <script src="{% static 'vendor/swiper/swiper-bundle.min.js' %}"></script>
    <script src="{% static 'vendor/php-email-form/validate.js' %}"></script>

    <!-- Template Main JS File -->
    <script src="{% static 'js/main.js' %}"></script>

  </body>

</html>